<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
           
    <!-- Hibernate 会话工厂对象 -->   
	<bean id="sessionFactory" class="app.store.util.HibernateHelper"
		factory-method="getSessionFactory"/>
		
	<!-- 用户管理的Dao,Service,Action -->	
	<bean id="userDao" class="app.store.model.dao.UserDaoHibernateImpl">
	    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	<!-- UserService 用户操作的业务对象 -->	
	<bean id="userService" class="app.store.model.service.UserServiceImpl">
	    <property name="dao" ref="userDao"/>
	</bean>	
	<!-- UserAction 用户操作的控制器对象 -->
	<bean id="userAction" class="app.store.action.UserAction" scope="prototype">
	    <property name="service" ref="userService"/>
	    <property name="model" ref="userModel"/>
	</bean>
	<bean id="userModel" class="app.store.model.entity.User" scope="prototype"/>
	
	<!-- 图书分类管理的Dao,Service,Action -->
	<bean id="categoryDao" class="app.store.model.dao.CategoryDaoHibernateImpl" >
	  <property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	<bean id="categoryService" class="app.store.model.service.CategoryServiceImpl">
	  <property name="dao" ref="categoryDao"/>
	</bean>	
	<bean id="categoryAction" class="app.store.action.CategoryAction" scope="prototype">
	  <property name="service" ref="categoryService"/>
	</bean>
	
	<!-- 图书管理的Dao,Service,Action -->
	<bean id="productDao" class="app.store.model.dao.ProductDaoHibernateImpl">
	  <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="productService" class="app.store.model.service.ProductServiceImpl">
	  <property name="dao" ref="productDao"/>
	</bean>
	<bean id="productAction" class="app.store.action.ProductAction" scope="prototype">
	  <property name="service" ref="productService"/>
	   <property name="specSevice" ref="specService"/>
	    
	</bean>
	<bean id="productMangerAction" class="app.store.mangerAction.ProductAction" scope="prototype">
	  <property name="service" ref="productService"/>
	</bean>
	
	
	<!-- 订单管理的Dao,Service -->
	<bean id="orderDao" class="app.store.model.dao.OrderDaoHibernateImpl">
	  <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="orderService" class="app.store.model.service.OrderServiceImpl">
	  <property name="dao" ref="orderDao"/>
	</bean>
	
	<!-- 购买与结算的Action -->
	<bean id="shoppingAction" class="app.store.action.ShoppingAction" scope="prototype">
	  <property name="productService" ref="productService"/>
	  <property name="specSevice" ref="specService"/>
	    <property name="productValueService" ref="productValueService"/>
	  <property name="service" ref="orderService"/>
	 
	  
	</bean>
	
      <!--商品属性的service  -->
      <bean id="specDao" class="app.store.model.dao.SpecDaoHibernateImpl">
         <property name="sessionFactory" ref="sessionFactory"/>
      </bean>
      <bean id="specService" class="app.store.model.service.SpecServiceImpl">
          <property name="dao" ref="specDao"/>
      </bean>
	<!-- 订单商品属性  -->
	    <bean id="productValueDao" class="app.store.model.dao.ProductValueDaoHibenateImpl">
         <property name="sessionFactory" ref="sessionFactory"/>
      </bean>
      <bean id="productValueService" class="app.store.model.service.ProductValueServiceImpl">
          <property name="dao" ref="productValueDao"/>
      </bean>
	
	<!-- SpecInfo -->
	<!--  <bean id="SpecInfoDao" class="app.store.model.dao.SpecInfoDaoHibernateImpl">
	      <property name="sessionFactory" ref="sessionFactory"/>
	 </bean>
	  <bean  class="app.store.model.service.ShoppingCart">
          <property name="sih" ref="SpecInfoDao"/>
      </bean>
	 -->
	<bean id="myInterceptor" class="app.store.util.CheckLoginInterceptor"/>
	
</beans>
